<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677303892936-m4gq34dufoea3j3tegrj390oc2g20p13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677303892936-m4gq34dufoea3j3tegrj390oc2g20p13</string>
	<key>API_KEY</key>
	<string>AIzaSyBGiPStibHYSA_AF1tpFTDHZpydc__hFJg</string>
	<key>GCM_SENDER_ID</key>
	<string>677303892936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaswater.delivery</string>
	<key>PROJECT_ID</key>
	<string>wasilapp-e7679</string>
	<key>STORAGE_BUCKET</key>
	<string>wasilapp-e7679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677303892936:ios:0e6320e9284332b6e01efd</string>
</dict>
</plist>